body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Monda', sans-serif;
}

.space {
  height: 20px;
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 50px;
    line-height:50px;
    padding: 2px 0;
    color: #fff;
    background: #000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    font-size: 20px;
    
}

.imageWrapper:hover .cornerLink {
    opacity: 0.85;
    top:66%;
}

/*img:hover {
    transform: scale(1.1);
}*/
