@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Monda', sans-serif;
}

.space {
  height: 20px;
}

.footer {
  height: 20px;
}

.view {
    width: 230px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    position: relative;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 132px 0 0 0;
}
.view a {
  text-decoration: none;
}
.view p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.view a.info:hover {
    box-shadow: 0 0 2px #000;
}

.view-first img {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.view-first:hover p {
    -webkit-transition-delay: 0.1s;
}
.view-first:hover a.info {
    -webkit-transition-delay: 0.3s;
}