html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.center {
  width: 50%;
  height: 100%;
  margin: auto;
}

form {
  width: 30%;
}

input {
  display: block;
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  margin: 10px;
  outline: none;
}

input:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

button {
  margin-left: 10px;
  width: 100%;
  border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:18px;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-weight:700;
}

button:hover {
  background-color: rgba(0,0,0,0);
	color: #0493bd;
}