@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body {
  -webkit-font-smoothing: antialiased;
	font-family: 'Monda', sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: 400;
	margin-left: 0;
	margin-right: 0; 
}

#logo-container {
  margin: auto;
  width: 960px;
}

#logo {
  width: 300px;
  margin-left: 310px;
  margin-top: 180px;
}

#merchant-container {
  margin: auto;
  width: 960px;
  margin-top: -75px
}

.merchant {
  position: relative;
  font-size: 15px;
  text-align: center;
}

.info-container {
  margin: auto;
  width: 960px;
}

.info {
  position: relative;
  text-align: center;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}

.merchant a:hover,
.info a:hover {
	text-decoration: none;
	background-color: #000;
	color: #FFF;
	
}
a:active {
	text-decoration: none;
}

.arrow_box {
  box-shadow: inset  1px  4px 9px -6px #696868, 
              inset  1px -4px 9px -6px #696868;
}

.footer {
  position: relative;
  width: auto;
  text-align: right;
  height: 20px;
  padding-right: 5px;
  margin-top: 40px;
}

