html {
  background-color: #181818;
}

html, body {
  height: 100%;
}

body {
  background-image: url('tnmp_fondo@2x.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Monda', sans-serif;
}

.logo {
  width: 7%;
  margin-top: 17%;
  margin-left: 10%;
}

.lttrs {
  float: right;
  width: 14%;
  margin-right: 9%;
  margin-top: 19%;
}

.merchant-container {
  margin: auto;
  width: 100%;
}

.merchant {
  text-align: center;
  margin-top: 11.5%;
  font-size: 1.4vw;
}

.info-container {
  margin: auto;
  width: 100%;
}

.info {
  text-align: center;
  font-size: 1.4vw;
  margin-right: 3%;
}

a {
  color: #666;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #e72a21;
  color: #000;
}

.demos {
  color: #e72a21;
}
