body {
  -webkit-font-smoothing: antialiased;
	font-family: 'Monda', sans-serif;
	font-size: 1.5vw;
	color: #333;
	font-weight: 400;
}

#logo-container {
  margin: auto;
  width: 80%
}

#logo {
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 25%
}

#merchant-container {
  margin: auto;
  width: 100%;
}

.merchant {
  position: relative;
  font-size: 2vw;
  text-align: center;
}

.info-container {
  margin: auto;
  width: 100%;
}

.info {
  position: relative;
  text-align: center;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}

.merchant a:hover,
.info a:hover {
	text-decoration: none;
	background-color: #000;
	color: #FFF;

}
a:active {
	text-decoration: none;
}
